.books {
    padding: 0 var(--content-side-gap);
}

.heading {
    font-size: 40px;
    margin: 50px 0;
}

.list {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.listItem {
    overflow: hidden;
    transition: 200ms linear all;
}
